<div class="container-fluid" *ngIf="cityForecast$ | async as forecastData">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        5-day forecast for {{ forecastData.city.name }}
      </h3>
    </div>
    <ul class="list-group">
      <!---->
      <li class="list-group-item" *ngFor="let forecast of forecastData.list">
        {{ forecast.dt | date: 'EEEE, MMMM d' }}:
        {{ getWeatherName(forecast, false) }} - Min: {{ forecast.temp.min }} - Max:
        {{ forecast.temp.max }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/{{
            getWeatherName(forecast)
          }}.png"

          alt="{{getWeatherName(forecast)}}"
        />
      </li>
    </ul>
  </div>
  <button routerLink="/" class="btn btn-success" tabindex="0" id="mainPageBtn">
    &lt; Back to main page
  </button>
</div>
